* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: go;
}
body {
  font-family: "Goldman", cursive;
}

p {
  font-style: normal;
}

.indexbody {
  background-image: url(/img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.javabody{
  background-color: black;
  color: white;
}

.mysqlbody{
  background-color: black;
  color: white;
}

.Group_2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 22%;
}
 
.htmlcss{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.ar_htmlcss{
margin-right: 150px;
margin-left: 150px;
margin-bottom: 5rem;
margin-top: 5rem;
font-size: 15px;
word-wrap: break-word;
line-height: 1.6;
}

.htmlimg{
  width: 45vw;
  height: 45vh;
  margin-left: 150px;
}


.javascript{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.ar_javascript{
margin-right: 20rem;
margin-left: 20rem;
margin-bottom: 5rem;
margin-top: 5rem;
font-size: 15px;
word-wrap: break-word;
line-height: 1.6;
}

.javascriptimg{
  width: 40vw;
  height: 40vh;
  margin-left: 50px;
  margin-right: 150px;
}

.mysql{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.ar_mysql{
margin-right: 20rem;
margin-left: 20rem;
margin-bottom: 5rem;
margin-top: 5rem;
font-size: 18px;
word-wrap: break-word;
line-height: 1.6;
}

.mysqlimg{
  width: 25vw;
  height: 25vh;
  margin-left: 50px;
  margin-right: 150px;
  margin-top: 50px;
}

.php{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.ar_php{
margin-right: 50px;
margin-left: 150px;
margin-top: 5rem;
font-size: 15px;
word-wrap: break-word;
line-height: 1.6;
}

.phpimg{
  width: 35vw;
  height: 35vh;
  margin-left: 150px;
  margin-top: 45px;
}

header{
  font-size: 30px;
  text-align: center;
  padding-top: 3rem;
}

.dropdown {
  position: relative;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  left: 0;
}

.dropdown-content a {
  color: #00a8c7;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #E9E9E9}

.dropdown:hover .dropdown-content {
  display: block;
}


nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;

}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav li:hover {
  color:#00a8c7;
  background-color: #ffffff;

}
nav a {
  color: white;
  text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
  color: #00a8c7;
}


nav img {
  width: 5vw;
}

form{
  margin-left: 500px;
  margin-top: 90px;
  font-size: 18px;

}

input[type=text] {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 50%;
  padding: 10px 60px;
}

textarea {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 50%;
  height: 50%;
  padding: 35px 60px;
}



.button{
  background-color: #00a8c7;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 22%;
  border: none;
  margin-top: 10px;
  font-weight: bold;
  font-family: goldman;
}



footer{
  background-color: #00a8c7;
  padding: 30px;
  text-align: center;
  width: 100%;
  color: white;
  position: fixed;
  bottom: 0; 
}
